.accordsSpacer {
    display: inline-block;
}
.songText {
    font: 11pt Calibri;
}
.accords, .extraInfo {
    font: bold 8pt Calibri;
    color: rgb(54,95,145);
}
#input {
    width: 30%;
    height: 80%;
    position: absolute;
    top: 5px;
}
#titleInputContainer {
    position: relative;
    top : 80%;
}
#textTutorial {
    position: relative;
    top: 80%;
}
#resultWrapper {
    width: 148mm;
    height: 210mm;
    border-style: solid;
    position: absolute;
    left: 650px;
    top: 5px;
}
.innerResult {
    position: absolute;
    top: 25mm;
    width: 128mm;
    height: 175mm;
    border-style: solid;
}
#result {
    left: 10mm;
}
.titleBox {
    background-color: rgb(79,129,189);
    /* background-color: none; */
    width: 128mm;
    height: 15pt;
    position: absolute;
    top: 12mm;
    font: 11pt Calibri;
    letter-spacing: 1px;
    padding-top: 3pt;
    color: white;
    -webkit-print-color-adjust: exact;
    /* visibility: hidden; */
}
#title {
    left: 10mm;
}
.extraInfo {
    position: absolute;
    top: 13mm;
}
#extraInfo {
    left: 10mm;
}
@media print {
    body * {
        visibility: hidden;
    }
    #resultWrapper, #resultWrapper * {
        visibility: visible;
    }
    .innerResult {
        border-style: none;
    }
    #resultWrapper {
        position: absolute;
        left: 0px;
        top: 0px;
        border-style: none;
    }

    @page{
        size: A5;
        margin: 0;
    }
}
